* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  font-size: 0.8vw;
}

.main{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 11px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

